* {
  outline: none !important;
}

.button-group-icons-only Button {
  font-size: 18px;
  background: transparent;
  border: 0;
}

.bg-gradient-primary {
  background: linear-gradient(to right, #5d7ee2, #4e73df);
}

.bg-gradient-secondary {
  background: linear-gradient(to right, #e7ebf0, #868e96);
}

.bg-gradient-success {
  background: linear-gradient(to right, #84d9d2, #07cdae);
}

.bg-gradient-info {
  /* background: linear-gradient(to right, #90caf9, #047edf 99%); */
}

.bg-gradient-warning {
  background: linear-gradient(to right, #f6e384, #ffd500);
}

.bg-gradient-danger {
  background: linear-gradient(to right, #ffbf96, #fe7096);
}

.bg-gradient-light {
  background: linear-gradient(to bottom, #f4f4f4, #e4e4e9);
}

.bg-gradient-dark {
  background: linear-gradient(89deg, #5e7188, #3e4b5b);
}

.sidebar-gradient-dark {
  background: linear-gradient(to bottom, #364250 0%, #2f3844 20%, #1f262e 100%);
  color: #ffffff;
}

.nav-link {
  transition: 0.2s ease;
}
